/* Large */
@media (min-width: 1200px){

}
/* Medium */
@media (min-width: 992px){

}
/* small */
@media (min-width: 768px){

}
/* xtra small */
@media (max-width: 768px){

}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
label{
	font-weight: normal;
}
.footer judul{
	margin-top: 20px;
}
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
}
.baner{
	height: 50vh;
	overflow: hidden;
}
.baner .col-md-8 img{
	margin-bottom: 20px;
}
.border{
	border: 1px dashed silver;
	min-height: 20px;
}
.alpha{
	padding-left: 0;
}
.omega{
	padding-right: 0;
}
.judul{
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid silver;
	font-size: 18pt;
}
tgl{
	color: silver;
	display: block;
}
judul{
	font-size: 14pt;
	display: block;
	margin-bottom: 10px;
}
.garis{
	margin: 15px 0;
	border-bottom: 1px dashed silver;
}
.footer a{
	display: block;
	margin-bottom: 5px;
}
.footer judul{
	font-size: 12pt;
}
.agenda .col-xs-2, .agenda .col-sm-2, .agenda .col-md-2, .agenda .col-lg-2{
	text-align: center;
	padding-top: 4px;
}
.list-judul{
	background: #428BCA;
	color: #fff;
}
.list-group li:hover{
	background: #ecf0f1;
}
.list-judul:hover{
	background: #428BCA !important;
}
.side-link{
	text-align: right;
	margin-bottom: 20px;
}
.tab-pane ul li{
	list-style: none;
}
.tab-pane ul{
	padding-left: 0;
	display: inline-table;
	margin-right: 50px;
}
.galeri img{
	margin-bottom: 10px;
}
.baner blockquote p{
	font-style: italic;
}
.baner blockquote div{
	font-size: 20pt;
}
.baner blockquote{
	border-left: none;
}
#map{
	height: 50vh;
	margin-bottom: 20px;
}
.foto .col-lg-6{
	height: 20vh;
	overflow: hidden;
	margin-bottom: 10px;
}
.foto img{
	/*width: auto !important;*/
	height: 20vh;
}
.galeri{
	margin-right: 1px;
}